#forms
  #additonal-data{ data: { header: "Surveys (#{Survey.all.size})", url: new_admin_survey_path, target: '#forms', async: true, text: 'Add a survey'}}
  %table.display.table.table-bordered.table-hover{ id: 'survey_list' }
    %thead
      %tr
        %th Survey Title
        %th Description
        %th State
        %th Created
    %tbody
      - @surveys.each do |survey|
        - css_class = 'muted' unless survey.active?
        %tr
          %td
            = link_to survey.title, admin_survey_path(survey), data: { async: true, target: '#forms' }
          %td{ class: css_class }
            = survey.description
          %td{ class: css_class }
            = survey.state.titleize
          %td{ class: css_class }
            = survey.created_at.to_date
