.row-fluid
  .span12
    %h2="Title: #{@survey.title}"
.row-fluid
  %h5.muted="Description:"
  .row-fluid
    .offset1
      %h6=@survey.description
.row-fluid
  -if @survey.active?
    =form_for @survey,:url=>deactivate_admin_survey_path(@survey),:html=>{:class=>"ajax-form","data-target"=>"#forms"} do |f|
      .btn-group
        =link_to "Edit",edit_admin_survey_path(@survey),:class=>"btn btn-mini btn-primary","data-async"=>true,"data-target"=>"#forms"
        =f.button "Deactivate",:class=>"btn btn-mini btn-danger"
  -else
    =form_for @survey,:url=>activate_admin_survey_path(@survey),:html=>{:class=>"ajax-form","data-target"=>"#forms"} do |f|
      .btn-group
        =link_to "Edit",edit_admin_survey_path(@survey),:class=>"btn btn-mini btn-primary","data-async"=>true,"data-target"=>"#forms"
        =f.button "Activate",:class=>"btn btn-mini btn-success"
  %hr
.tabbable.tabs-left
  %ul.nav.nav-tabs
    -@survey.sections.each_with_index do |s,si|
      %li{:class=>"#{'active' if (@section.nil? and si==0) || (!@section.nil? and @section.id == s.id)}"}=link_to s.title, "#section_#{s.id}","data-toggle"=>"tab"
    -unless @survey.active? || !@survey.multiple_section?
      =link_to "Add Section",new_admin_section_path(:survey_id=>@survey.id),:class=>"btn btn-mini btn-block btn-primary","data-async"=>true,"data-target"=>".tabbable"
    =link_to "Preview",preview_admin_survey_path(@survey),:class=>"btn btn-mini btn-block btn-success","data-async"=>true,"data-target"=>"#forms"
    =link_to "Exit",admin_surveys_path,:class=>"btn btn-mini btn-block btn-warning","data-async"=>true,"data-target"=>"#forms"
  .tab-content
    -@survey.sections.each_with_index do |s,si|
      .tab-pane{:id=>"section_#{s.id}",:class=>"#{'active' if (@section.nil? and si==0) || (!@section.nil? and @section.id==s.id)}"}
        =render :partial=>"admin/sections/section",locals: {section: s}
.row-fluid
      
