#additonal-data{ data: { header: "Consents (#{Consent.all.size})", url: new_admin_consent_path, target: "#consents", async: true, text: "Add a consent"}}
#consents.row-fluid
  %table.table.table-bordered.table-hover{ id: 'consent_list' }
    %thead
      %tr
        %th.span1 Type
        %th.span1 State
        %th.span1 Created On
        %th.span5 Comments
    %tbody
      - @consents.each do |consent|
        %tr
          %td
            = link_to consent.consent_type, admin_consent_path(consent)
          %td{ class: "#{'muted' unless consent.active? }" }
            = consent.state.titleize
          %td{ class: "#{'muted' unless consent.active?}" }
            = consent.created_at.to_date
          %td
            = consent.comment

