.row-fluid
  .span12
    %h4.text-center= "#{@response_set.participant.name} - #{@response_set.survey.title}"
    %hr
.row-fluid
  .span12
    =simple_form_for @response_set,  :url=>admin_response_set_path(@response_set), :html=>{:id => "admin_edit_response_set_form" } do |f|
      .row-fluid
        .tabbable.tabs-left#admin-survey-tabs
          %ul.nav.nav-tabs.span2
            -if @response_set.survey.sections.size > 1
              - @response_set.survey.sections.each_with_index do |s,si|
                %li{:class=>"#{'active' if si==0}"}=link_to s.title,"#section_#{s.id}","data-toggle"=>"tab"
            %li=button_tag "Save",:class=>"btn btn-mini btn-block btn-primary cancel"
            %br
            %li=button_tag "Save & Exit",:value=>"exit",:class=>"btn btn-mini btn-block btn-primary cancel"
            -unless @response_set.complete?
              %br
              %li=button_tag "Submit",:value=>"finish",:class=>"btn btn-mini btn-block btn-success", :id => "admin_submit_response_set"
            %br
            =link_to "Cancel", admin_participant_path(@response_set.participant), :class=>"btn btn-mini btn-block btn-warning"
          .tab-content.offset2#admin-survey-tab-content
            - @response_set.survey.sections.each_with_index do |s,si|
              .tab-pane{:id=>"section_#{s.id}",:class=>"#{'active' if si==0}"}
                -s.questions.each_with_index do |q,i|
                  .row-fluid
                    .span12
                      -if q.response_type.eql?("pick_one")
                        =f.input "q_#{q.id}".to_sym, collection: q.answers, label_method: :text, value_method: :id,label: q.text, :as=>:select,required: q.is_mandatory?,:hint=>q.help_text
                      -elsif q.response_type.eql?("pick_many")
                        =f.input "q_#{q.id}".to_sym, collection: q.answers, label_method: :text, value_method: :id,label: q.text, :as=> :check_boxes,required: q.is_mandatory?,:hint=>q.help_text
                      -elsif q.response_type.eql?("none")
                        =q.text.html_safe
                      -else
                        =f.input "q_#{q.id}".to_sym,:label=>q.text ,:as=>Question::FORM_RESPONSE_TYPE_TRANSLATION[q.response_type].to_sym,:required=>q.is_mandatory?,hint: q.help_text,:input_html=>{:class=>"#{'input-mini' if q.number?} #{'input-block-level'if q.long_text?} #{'input-small date' if q.date?}","data-provide"=>"#{'datepicker' if q.date?}", :rows=>3 }, :placeholder => "#{'yyyy-mm-dd' if q.date?}"
                      %hr
:javascript
  $(document).ready(function(){
    $('#admin_edit_response_set_form').validate();
    $('#admin_submit_response_set').click(function() {
      $('#admin_edit_response_set_form').valid();
    });
    var tab_content_height = $(window).height()-$('#admin-survey-tab-content').offset().top;
    $('#admin-survey-tab-content').height(tab_content_height).css({
        overflow: "auto"
    });
    $('#admin-survey-tabs li').click( function(){
      $('#admin-survey-tab-content').height(tab_content_height).css({
        overflow: "auto"
      });
      $('#admin-survey-tab-content').scrollTop(0);
    });
  });