.row-fluid
  .span12
    =Consent.active_consent.content
    %br
    %br
.row-fluid
  -if @participant.adult_proxy?
    .span3
      = form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = hidden_field_tag "consent_response", "accept"
        = submit_tag("I agree on behalf of the another adult", :class=>"btn btn-success")
        %br
        %br
        .controls.controls-row
          = label_tag "consent_name", 'My name is', :class => 'span3'
          = text_field_tag 'consent_name'
    .span3
      =form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = submit_tag("I disagree on behalf of the another adult", :class=>"btn btn-danger")
  -elsif @participant.child_proxy?
    .span3
      = form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = hidden_field_tag "consent_response", "accept"
        = submit_tag("I agree on behalf of the child", :class=>"btn btn-success")
        %br
        %br
        .controls.controls-row
          = label_tag "consent_name", 'My name is', :class => 'span3'
          = text_field_tag 'consent_name'
    .span3
      = form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = submit_tag("I disagree on behalf of the child", :class=>"btn btn-danger")
  -else
    .span1
      = form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = hidden_field_tag "consent_response", "accept"
        = submit_tag(Consent.active_consent.accept_text, :class=>"btn btn-success")
    .span1
      = form_tag(consent_signature_participant_path(@participant), :method => 'post') do
        = submit_tag(Consent.active_consent.decline_text, :class=>"btn btn-danger")