.row-fluid
  .span12
    !=Consent.active_consent.content
%br
.row-fluid
  -if @participant.adult_proxy?
    = form_tag(consent_signature_participant_path(@participant), method: 'post', id:'new-consent-sign') do
      = hidden_field_tag "consent_response"
      .row-fluid
        %label.radio.inline
          = radio_button_tag 'consent', 'agree', false, class: "consent-agree"
          I agree on behalf of someone
        %label.radio.inline
          = radio_button_tag 'consent', 'disagree', false, class: "consent-disagree"
          I disagree on behalf of someone
      .form-inline.proxy-consent-name
        %br
        = label_tag "consent_name", 'My name is'
        = text_field_tag 'consent_name', nil, class: 'required'
      %br
      .row-fluid
        = submit_tag("Next", class: "btn", id: "consent-next")
        = link_to "Cancel", dashboard_path, class: "btn"
  -elsif @participant.child_proxy?
    = form_tag(consent_signature_participant_path(@participant), method: 'post', id:'new-consent-sign') do
      = hidden_field_tag "consent_response"
      .row-fluid
        %label.radio.inline
          = radio_button_tag 'consent', 'agree', false, class: "consent-agree"
          I agree on behalf of child
        %label.radio.inline
          = radio_button_tag 'consent', 'disagree', false, class: "consent-disagree"
          I disagree on behalf of child
      .form-inline.proxy-consent-name
        %br
        = label_tag "consent_name", 'My name is'
        = text_field_tag 'consent_name', nil, class: 'required'
      %br
      .row-fluid
        = submit_tag("Next", class: "btn", id: "consent-next")
        = link_to "Cancel", dashboard_path, class: "btn"
  -else
    = form_tag(consent_signature_participant_path(@participant), method: 'post', id:'new-consent-sign') do
      = hidden_field_tag "consent_response"
      .row-fluid
        %label.radio.inline
          = radio_button_tag 'consent', 'agree', false, class: "consent-agree"
          I agree
        %label.radio.inline
          = radio_button_tag 'consent', 'disagree', false, class: "consent-disagree"
          I disagree
      %br
      .row-fluid
        = submit_tag("Next", class: "btn", id: "consent-next")
        = link_to "Cancel", dashboard_path, class: "btn"
