.row-fluid
  .span12
    =Consent.active_consent.content
    %br
    %br
.row-fluid
  -if @participant.adult_proxy?
    = form_tag(consent_signature_participant_path(@participant), :method => 'post', :id => 'new_consent_sign') do
      .row-fluid
        .span3
          = hidden_field_tag "consent_response"
          = link_to 'I agree on behalf of someone', '#accept', :class=>"btn btn-success consent_agree"
        .span3
          = link_to 'I disagree on behalf of someone', '#decline', :class=>"btn btn-danger consent_disagree"
      %br
      %br
      .row-fluid
        .controls.controls-row.proxy_consent_name
          = label_tag "consent_name", 'My name is', :class => 'span3'
          = text_field_tag 'consent_name', nil, :class => 'required'
      .row-fluid
        = submit_tag("Next", :class=>"btn", :id => "consent_next_button")
  -elsif @participant.child_proxy?
    = form_tag(consent_signature_participant_path(@participant), :method => 'post', :id => 'new_consent_sign') do
      .row-fluid
        .span3
          = hidden_field_tag "consent_response"
          = link_to 'I agree on behalf of the child', '#accept', :class=>"btn btn-success consent_agree"
        .span3
          = link_to 'I dsagree on behalf of the child', '#decline', :class=>"btn btn-danger consent_disagree"
      %br
      %br
      .row-fluid
        .controls.controls-row.proxy_consent_name
          = label_tag "consent_name", 'My name is', :class => 'span3'
          = text_field_tag 'consent_name', nil, :class => 'required'
      .row-fluid
        = submit_tag("Next", :class=>"btn", :id => "consent_next_button")
  -else
    = form_tag(consent_signature_participant_path(@participant), :method => 'post', :id => 'new_consent_sign') do
      .row-fluid
        .span3
          = hidden_field_tag "consent_response", nil, :class => 'required'
          = link_to 'I agree', '#accept', :class=>"btn btn-success consent_agree"
        .span3
          = link_to 'I disagree', '#decline', :class=>"btn btn-danger consent_disagree"
      %br
      %br
      .row-fluid
        = submit_tag("Next", :class=>"btn", :id => "consent_next_button")
