.well.nu-small.nu-well.text-center
  .nu-header.text-center="Contact Information"
=form_for @participant, :html => { :class => "form-horizontal participant_demographic"} do |f|
  -if @participant.adult_proxy?
    = render :partial => 'participant_adult_proxy', :locals => {:f => f}
  -elsif @participant.child_proxy?
    = render :partial => 'participant_child_proxy', :locals => {:f => f}
  -else
    .row-fluid
      %h4="Participant Information"
      .control-group
        =f.label :first_name, "First Name", :class => "control-label"
        .controls
          =f.text_field  :first_name, class: "required"
          %small.text-error
            %i (Required Field)
      .control-group
        =f.label :last_name, "Last Name", :class => "control-label"
        .controls
          =f.text_field  :last_name, class: "required"
          %small.text-error
            %i (Required Field)
      .control-group
        =f.label :address_line1, "Address", :class => "control-label"
        .controls
          =f.text_field  :address_line1
      .control-group
        =f.label :address_line2, "Address Line 2", :class => "control-label"
        .controls
          =f.text_field  :address_line2
      .control-group
        =f.label :city, :class => "control-label"
        .controls
          =f.text_field  :city
      .control-group
        =f.label :state, :class => "control-label"
        .controls
          = f.select :state, us_states, { prompt: 'Select State'}
      .control-group
        =f.label :zip, :class => "control-label"
        .controls
          =f.text_field  :zip, class: "zipcode"
      .control-group
        =f.label :email, "Email Address", :class => "control-label"
        .controls
          =f.text_field  :email, class: "email"
      .control-group
        =f.label :primary_phone, "Primary Phone Number", :class => "control-label"
        .controls
          =f.text_field :primary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
      .control-group
        =f.label :secondary_phone, "Secondary Phone Number", :class => "control-label"
        .controls
          =f.text_field :secondary_phone, class: "phone", placeholder: "xxx-xxx-xxxx"
  -if @participant.related_participants.size > 0
    .relationships
      .row-fluid
        %h4
          Relationships
          %small.text-error
            %i (Required Field)
      = f.fields_for :origin_relationships do |origin_relationship|
        .row-fluid
          = render 'origin_relationship_fields', :f => origin_relationship
        %br
  .row-fluid
    .form-inline
      =f.label :hear_about_registry, "How did you hear about the Communication Research Registry?"
      =f.text_field :hear_about_registry, :class => "input-xxlarge"
  .row-fluid
    .btn-group
      =f.button "Next",:class=>"btn btn-primary nu-primary"