.well.nu-small.nu-well.text-center
  .nu-header.text-center="Consent"
.row-fluid
  #consent-content.consent-content
    -@consent = @participant.child? ? Consent.child_consent : Consent.adult_consent
    !=@consent.content
  %br
  #consent-controls
    = form_for @participant.consent_signatures.new(:consent=>@consent), :url=>consent_signature_participant_path(@participant), :html => {:id => 'new-consent-sign'} do |f|
      = hidden_field_tag "consent_response"
      =f.hidden_field :consent_id
      .row-fluid
        %label.radio.inline
          = radio_button_tag 'consent', 'agree', false, class: "consent-agree"
          .consent-agree-text
            = @participant.proxy? ? @participant.child? ? "I agree on behalf of my child" : "I agree on behalf of participant" : "I agree"
        %label.radio.inline
          = radio_button_tag 'consent', 'disagree', false, class: "consent-disagree"
          .text-error
            = @participant.proxy? ? @participant.child? ? "I disagree on behalf of my child" : "I disagree on behalf of participant" : "I disagree"
      -if @participant.proxy?
        .form-inline.proxy-consent
          %br
          = f.label :proxy_name, 'Your electronic signature (full name): '
          = f.text_field :proxy_name, class: 'required'
          %small.text-error
            %i Required field
          = f.label :proxy_relationship, @participant.child? ? 'Your relationship to child: ' : 'Your relationship to participant: '
          = f.select :proxy_relationship, Consent::RELATIONSHIPS.collect{|rel| [rel.titleize, rel]}, { prompt: 'Select Relationship'}, :class => "required"
          %small.text-error
            %i Required field
      %br
      .row-fluid
        = f.button "Next", class: "btn btn-primary nu-primary", id: "consent-next"
:javascript
  $(document).ready(function(){
    var consent_content_height = $(window).height() - $('#consent-content').offset().top - $("#consent-controls").height()-1.5*$('.footer').height();
    $('#consent-content').height(consent_content_height).css({
        overflow: "auto",
        border: "2px solid"
    });

    $('.consent-agree').attr('disabled', 'disabled');
    $('.consent-agree-text').addClass('muted')
    $('#consent-content').scroll(function(){
      var $contentelement =  $(this)[0];
      if (($contentelement.scrollTop + $contentelement.offsetHeight) >= $contentelement.scrollHeight){
        $('.consent-agree').removeAttr('disabled');
        $('.consent-agree-text').addClass('text-success');
      }
    });
  });