-if @participant.consented?
  %h5="Consent for #{@participant.name}"
  .row-fluid
    = "#{@participant.most_recent_consent_signature.consent.content}".html_safe
  %br
  %em
    ="This consent was signed on:"
    %b
      ="#{@participant.most_recent_consent_signature.created_at.to_date}"
    -if @participant.proxy?
      ="by"
      %b
        ="#{@participant.most_recent_consent_signature.consent_person_name}"
