- section ||= @section
%h4
  = "Section: #{section.title}"
- unless section.survey.active?
  = form_tag admin_section_path(section), method: 'delete', class: 'ajax-form', data: {target: '#forms'} do
    .btn-group
      = link_to 'Edit', edit_admin_section_path(section), class: 'btn btn-mini btn-primary', data: { async: true, target: "#section_#{section.id}"}
      - if policy(section).destroy?
        = button_tag 'Delete', class: 'btn btn-mini btn-danger'
%hr
- section.questions.each do |q|
  .span11{class: 'offset0.5'}
    .row-fluid{id: "q_#{q.id}"}
      = render partial: 'admin/questions/question_display', locals: {question: q}
.row_fluid
  .span12{class: "offset0.5", id: "section_#{section.id}_new_question"}
    - unless section.survey.active?
      = link_to 'Add Question', new_admin_question_path(section_id: section.id), class: 'btn btn-mini btn-primary', data: { async: true, target: "#section_#{section.id}_new_question"}
%hr

