= form_for @email_notification, url: admin_email_notification_path(@email_notification), html: { class: 'form-horizontal'}  do |f|
  %h4
    #{@email_notification.email_type} email notification. Last updated on #{@email_notification.updated_at.to_date} (#{@email_notification.state})
  .row-fluid
    .span12
      = f.text_area :content, class: 'wyswig'
  .row-fluid
    .span2
      = f.button 'Update', class: 'btn btn-success btn-block'
    .span2
      = link_to 'Cancel', admin_email_notifications_path, class: 'btn btn-warning btn-block'
