#email_notification.row-fluid
  .span12
    / This will be inserted into table header div
    .header.hidden.table-header{ data: { target_table: 'email_notification_index_table'} }
      %h4
        = "Email notifications (#{EmailNotification.all.size})"

    %table.table.table-bordered.table-hover#email_notification_index_table
      %thead
        %tr
          %th.span3 Name
          %th Description
          %th State
          %th.span2 Created On
          %th.span2 Updated On
          %th.span3
      %tbody
        - @email_notifications.each do |email_notification|
          - css_class = 'muted' unless email_notification.active?
          %tr
            %td
              = link_to email_notification.name, admin_email_notification_path(email_notification)
            %td{ class: css_class}
              = email_notification.description
            %td{ class: css_class}
              = email_notification.state.titleize
            %td{ class: css_class}
              = email_notification.created_at.to_date
            %td{ class: css_class}
              = email_notification.updated_at.to_date
            %td
              .row-fluid
                .span6
                  - confirmation_message = 'Are you sure you want to deactivate and edit this email?' if email_notification.active?
                  = link_to 'Edit', edit_admin_email_notification_path(email_notification), class: 'btn btn-primary nu-primary btn-block', data: { confirm: confirmation_message }
                .span6
                  - if email_notification.active?
                    = form_for email_notification, url: deactivate_admin_email_notification_path(email_notification) do |f|
                      = f.button 'Deactivate', class: 'btn btn-warning btn-block'
                  - else
                    = form_for email_notification, url: activate_admin_email_notification_path(email_notification) do |f|
                      = f.button 'Activate', class:  'btn btn-success btn-block'

