= form_for @search, :url=>release_data_admin_search_path(@search), :html => {class: "validate-form release-data-ajax-form"} do |f|
  .row-fluid
    .span3
      %b Released Date:
      =text_field_tag "start_date",Date.today,:class=>"input-small date required","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy", id: "search-release-date"
    .span3
      %b Warning Date:
      =text_field_tag "warning_date",1.week.from_now.to_date,:class=>"input-small date","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy"
    .span3
      %b End of Release:
      =text_field_tag "end_date",2.week.from_now.to_date,:class=>"input-small date required","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy", id: "search-end-of-release-date"
    .span3
      =f.button "Release",:class=>"btn btn-small btn-success", :id => "release"
  %br
  %br
  #additonal-data{data: {header: "#{@search.new? ? @search.result.size : @search.search_participants.size} participants returned", count: @search.released_participants.size}}
  .row-fluid
    %table.table.table-bordered.table-hover{:id=>'search_result_list'}
      %thead
        %tr
          %th= check_box_tag "selectall"
          %th First Name
          %th Last Name
          %th Studies
          %th End of Release
      %tbody
        -if @search.new?
          -@search.result.each do |participant|
            = render :partial => 'participants', :locals => {participant: participant}
        -else
          -@search.search_participants.each do |sp|
            = render :partial => 'participants', :locals => {participant: sp.participant}