= form_for @search, :url=>release_data_admin_search_path(@search), :html => {class: "validate-form"} do |f|
  .row-fluid
    .span3
      %b Released Date:
      =text_field_tag "start_date",Date.today,:class=>"input-small date required","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy"
    .span3
      %b Warning Date:
      =text_field_tag "warning_date",1.week.from_now.to_date,:class=>"input-small date","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy"
    .span3
      %b End of release:
      =text_field_tag "end_date",2.weeks.from_now.to_date,:class=>"input-small date required","data-provide"=>"datepicker", placeholder: "mm/dd/yyyy"
    .span3
      =f.button "Release",:class=>"btn btn-small btn-success", :id => "release"
  %br
  %br
  #additonal-data{data: {header: "#{@search.result.size} participants returned", count: @search.released_participants.size}}
  .row-fluid
    %table.table.table-bordered.table-hover{:id=>'search_result_list'}
      %thead
        %tr
          %th= check_box_tag "selectall"
          %th First Name
          %th Last Name
          %th Studies
          %th End of Release
      %tbody
        -@search.result.each do |participant|
          %tr
            %td=participant.has_study?(@search.study) ? "" : check_box_tag("[participant_ids][#{participant.id}]", participant.id, false, class: "selectalloption")
            %td=link_to participant.first_name, admin_participant_path(participant)
            %td
              =link_to participant.last_name, admin_participant_path(participant)
              .pull-right
                =image_tag "child.png" if participant.child?
                =image_tag 'siblings.png' if participant.has_relationships?
            %td
              %ul.unstyled
                -participant.study_involvements.each_with_index do |si,i|
                  %li{:class=> "#{'more_display' if i > 1}"}
                    =link_to si.study.display_name, admin_study_path(si.study)
                    %span.muted
                      = " (#{si.state})"
                %li.pull-right.btn.btn-link.show_button="See more..." if participant.study_involvements.size > 2
            %td
              %ul.unstyled
                -participant.study_involvements.each_with_index do |si,i|
                  %li{:class=> "#{'more_display' if i > 2} #{'muted' if (!si.end_date.blank? && si.end_date < Date.today)}"}=si.end_date