- if @data_released
  .row-fluid
    .alert.nu-well
      %h5
        Data for this search has been released on #{@search.process_date}
- elsif @data_requested
  .row-fluid
    .alert.nu-well
      %h5
        Data for this search has been requested and is pending release.
.row-fluid
  .span9
    %h3
      #{@search.study.display_name} : #{@search.name}
  - if @new_search || @data_requested && current_user.admin?
    .span3
      = form_for @search, url: admin_search_path(@search), method: :delete do |f|
        .btn-toolbar.pull-right
          = f.button "Delete", class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete request #{@search.name}?" }
