%tr
  %td=check_box_tag("[participant_ids][#{participant.id}]", participant.id, false, class: "selectalloption")
  %td=link_to participant.first_name, admin_participant_path(participant)
  %td
    =link_to participant.last_name, admin_participant_path(participant)
    .pull-right
      =image_tag "child.png" if participant.child?
      =image_tag 'siblings.png' if participant.has_relationships?
  %td
    %ul.unstyled
      -participant.study_involvements.each_with_index do |si,i|
        %li{:class=> "#{'more_display' if i > 1}"}
          =link_to si.study.display_name, admin_study_path(si.study)
          %span.muted
            = " (#{si.state})"
      %li.pull-right.btn.btn-link.show_button="See more..." if participant.study_involvements.size > 2
  %td
    %ul.unstyled
      -participant.study_involvements.each_with_index do |si,i|
        %li{:class=> "#{'more_display' if i > 2} #{'muted' if (!si.end_date.blank? && si.end_date < Date.today)}"}=si.end_date