.row-fluid.paragraph
  / This will be inserted into table header div
  .span12.header.table-header{ data: {'target-table'=>'search_result_list'} }
    %h5
      Results:
      - if @data_requested || @new_search
        #{@participants.size} participants returned

        - unless @search.result.empty? || @data_requested || current_user.admin? || current_user.data_manager?
          = form_for @search, url: request_data_admin_search_path(@search) do |f|
            .paragraph
              = f.button 'Request results', class: 'btn btn-success'
      - elsif @search.data_released?
        - if current_user.admin? || current_user.data_manager?
          .user-circle.input-append
        #{@participants_released.size} released / #{@participants.size} participants returned

- if @data_requested || @new_search
  = render partial: 'results_unreleased'

- elsif @search.data_released?
  = render partial: 'results_released'