#results_released_returned
  .row-group
    .row-fluid
      .span12
        / This will be inserted into table header div
        .header.table-header{ data: { target_table: 'search_result_list'} }
          %h5
            #{@search_participants_released.size} Participants released
        %table.table.table-bordered.table-hover#search_result_list
          %thead
            %tr
              %th.span1
                ID
              %th.span2
                First Name
              %th.span2
                Last Name
              %th.span2
                Studies
              %th.span2
                Return status
              %th.span3
                Last updated
          %tbody
            - @search_participants_returned.each do |search_participant|
              - participant = search_participant.participant
              - study_involvement_status = search_participant.study_involvement.study_involvement_status
              %tr
                %td
                  = participant.id
                %td
                  = @search.end_date && @search.end_date > Date.today ? link_to(participant.first_name, admin_participant_path(participant)) : participant.first_name
                %td
                  = @search.end_date && @search.end_date > Date.today ? link_to(participant.last_name, admin_participant_path(participant)) : participant.last_name
                %td
                  = render partial: '/admin/study_involvements/link_with_modal', locals: { participant: participant }
                %td
                  #{study_involvement_status.name.titleize}
                  %small.muted
                    (#{study_involvement_status.state.titleize})
                %td
                  %small.muted
                    = l(study_involvement_status.updated_at)
                    - if study_involvement_status.versions.last.whodunnit
                      by #{User.where(id: study_involvement_status.versions.last.whodunnit).map(&:full_name).join(',')}
