.row-group-header
  .row-fluid
    .span3
      %b Start Date:
      %span
        = @search.start_date
    .span3
      %b Warning Date:
      %span
        = @search.warning_date
    .span3
      %b End Date:
      %span
        = @search.end_date
    .span3
- if current_user.admin? || current_user.data_manager?
  = render partial: 'results_released_admin'
- else
  = render partial: 'results_released_user'