- show_returned = @state == 'returned'
.row-fluid
  .span12
    .row-fluid
      .span12
        %ul.nav.nav-tabs
          %li{ class: "#{'active' if @state.blank? }"}
            = link_to "Participants released (#{@search_participants_not_returned.size})", admin_search_path(@search)
          %li{ class: "#{'active' if @state == 'returned'}"}
            = link_to "Participants returned (#{@search_participants_returned.size})", admin_search_path(@search, state: 'returned')
    - if @state.blank?
      = render partial: 'results_released_not_returned'
    - else
      = render partial: 'results_released_returned'

