.row-fluid
  .span9
    %h3="#{@search.study.display_name} : #{@search.name}"
  .span3
    =form_for @search, :url => admin_search_path(@search), :method => :delete do |f|
      .btn-toolbar.pull-right
        =f.button "Delete #{@search.name}", :class => "btn btn-danger", data: { confirm: "Are you sure you want to delete request #{@search.name}?" }
.row-fluid
  %h4 Parameters:
  .row-fluid
    =render :partial=>"admin/search_condition_groups/search_condition_group",locals: {search_condition_group: @search.search_condition_group}
.row-fluid
  %h4 Results:
  .offset1
    %h5= "#{@search.result.size} participants returned"
-if current_user.admin? || current_user.data_manager?
  =render :partial=>"admin_search_result"
-else
  .row-fluid
    -unless @search.result.size == 0
      =form_for @search,:url=>request_data_admin_search_path(@search) do |f|
        =f.button "Request Results",:class=>"btn btn-mini btn-success"