.control-group
  = f.label :study, class: 'control-label'
  .controls
    = f.select :study_id, @studies.collect{|s| ["#{s.display_name} - #{s.irb_number}", s.id]}, { prompt: '' }, { class: 'input-block-level' }
.control-group
  = f.label :name, class: 'control-label'
  .controls
    = f.text_field :name, class: 'input-block-level'