= form_for @search, url: admin_search_path(@search) do |f|
  .row-fluid
    .span12
      %h3
        #{@search.study.display_name}:
        = f.text_field :name
        .btn-group
          = f.submit 'Continue', class: 'btn btn-success btn-small'
          = link_to 'Cancel', admin_search_path(@search), class: 'btn btn-warning btn-small'