#search.row-fluid
  .span12
    / This will be inserted into table header div
    .header.hidden.table-header{ data: { target_table: 'search_index_table'} }
      %h4
        = display_search_header(params[:state])
        = link_to 'Build a request', new_admin_search_path, class: 'btn btn-primary nu-primary'

    %table.table.table-bordered.table-hover#search_index_table
      %thead
        %tr
          %th Request Name
          %th Study
          %th Requestor
          %th Request Date
          %th Release Date
          %th.text-warning Warning Date
          %th End of release
      %tbody
        - @searches.each do |search|
          - if policy(search).show?
            %tr
              %td{ class: "#{'nu' if search.data_requested?}" }
                = link_to search.display_name, admin_search_path(search)
              %td
                = link_to search.study.display_name, admin_study_path(search.study, anchor: 'overview')
              %td{ class: "#{'nu' if search.data_requested?}" }
                = search.display_user
              %td{ class: "#{'nu' if search.data_requested?}" }
                = search.request_date
              %td{ class: "#{'muted' if (!search.process_date.blank? && search.process_date < Date.today)}"}
                = search.process_date
              %td{ class: "text-warning #{'muted' if (!search.warning_date.blank? && search.warning_date < Date.today)}"}
                = search.warning_date
              %td{ class: "#{'muted' if (!search.end_date.blank? && search.end_date < Date.today)}"}
                = search.end_date
