.row-fluid-alert
  -if @search.data_requested?
    .alert.alert-info
      %h5 Data for this search has been requested and is pending Approval
  -elsif @search.data_released?
    .alert.alert-info
      %h5 Data for this search has been released to research staff

.row-fluid
  %h4 Search Parameters:
  .row-fluid
  .row-fluid
    =render :partial=>"admin/search_condition_groups/search_condition_group",locals: {search_condition_group: @search.search_condition_group}
.row-fluid
  %h4 Search Results:
  .offset1
    %h5= "#{@search.result.size} participants returned"
-if current_user.admin? || current_user.data_manager?
  = form_for @search, :url=>release_data_admin_search_path(@search) do |f|
    -unless @search.data_released?
      .row-fluid
        .span3
          %b Start Date
        .span3
          %b Warning Date
        .span3
          %b End Date
        .span3
      .row-fluid
        .span3
          =text_field_tag "start_date",Date.today,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
        .span3
          =text_field_tag "warning_date",1.week.from_now.to_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
        .span3
          =text_field_tag "end_date",2.weeks.from_now.to_date,:class=>"input-small","data-provide"=>"datepicker","data-date-format"=>"yyyy-mm-dd"
        .span3
          =f.button "Release",:class=>"btn btn-small btn-success"
    -else
      .row-fluid
        %h5="Data Released On: #{@search.process_date}"
    .row-fluid
      %table.table.bordered
        %thead
          %tr
            -unless @search.data_released?
              %th= check_box_tag "selectall"
            %th Name
            %th Released To Study
            %th Studies
            %th Last Contact
        %tbody
          -@search.result.each do |participant|
            %tr
              -unless @search.data_released?
                %td=check_box_tag "[participant_ids][#{participant.id}]",participant.id,false, class: "selectalloption"
              %td=link_to participant.name, admin_participant_path(participant)
              %td=participant.on_study? ? "Yes" : "No"
              %th
                -participant.study_involvements.active.each do |si|
                  ="#{si.study.name} - #{si.state}: #{si.state_date}"
              %td=participant.contact_logs.last.nil? ? "" : participant.contact_logs.last.date
-else
  .row-fluid
    -if @search.new?
      =form_for @search,:url=>request_data_admin_search_path(@search) do |f|
        =f.button "Request Results",:class=>"btn btn-mini btn-success"

