.row-fluid
  %p
    What is the Communication Research Registry?
    %em.muted
      A confidential database that connects you with research study opportunities at Northwestern University.
  %p
    How do I join or add family members to the Registry?
    %em.muted
      You can sign up yourself, your biological child/children, as well as any child or adult for whom you act as a legal guardian or authorized agent. After creating an account, follow these steps:
.row-fluid
  .span2
  .span3
    .progressbar.input-append
      1
    Sign a consent
  .span3
    .progressbar.input-append
      2
    Fill in contact information
  .span3
    .progressbar.input-append
      3
    Take a short survey
.row-fluid
  .span2
  .span3.consent-icon
    = image_tag('consent.png')
  .span3.contact-icon
    = image_tag('contact.png')
  .span3.survey-icon
    = image_tag('survey.png')
%h4 Let's get started:

%ul.nav.nav-tabs
  %li.active
    = link_to 'Sign up', '#sign_up', data: { toggle: 'tab' }
  %li
    = link_to 'Log in', '#login_tab', data: { toggle: 'tab' }
  -# %li
  -#   = link_to 'Express sign up', '#express_sign_up', data: { toggle: 'tab' }
  %li
    = link_to 'Password reset', '#password_reset_tab', data: { toggle: 'tab' }

.tab-content
  #sign_up.tab-pane.active
    = form_tag accounts_path, method: :post, class: 'form-horizontal' do
      .row-fluid
        If this is your first time here you'll need to create an account. Fill in the email and password fields to get started:
      %br
      .control-group
        %label.control-label{ for: 'account[email]' }
          Email
        .controls
          = text_field_tag 'account[email]'
      .control-group
        %label.control-label{ for: 'account[password]' }
          Password
        .controls
          = password_field_tag 'account[password]'
      .control-group
        %label.control-label{ for: 'account[password_confirmation]' }
          Verify Password
        .controls
          = password_field_tag 'account[password_confirmation]'
      .control-group
        .controls
          = submit_tag 'Create an Account', class: 'btn btn-success nu-primary'
          %br
          %small
            Desktop browser only
  #login_tab.tab-pane
    = form_for @account_session, html: { class: 'form-horizontal' }  do |f|
      .row-fluid
        If you already have a Registry account, enter your login information below.
      %br
      .control-group
        .control-label
          = f.label :email
        .controls
          = f.text_field :email
      .control-group
        .control-label
          = f.label :password
        .controls
          = f.password_field :password
      .control-group
        .controls
          = f.button 'Login', class: 'btn btn-success nu-primary'
          %br
          %small
            Desktop browser only

  #express_sign_up.tab-pane
    = form_tag express_sign_up_accounts_path, method: :post, class: 'form-horizontal' do
      .row-fluid
        If you don't have enough time to sign up now, you can fill out this form and we will remind you via your preferred contact method
      %br
      .control-group
        %label.control-label{ for: 'name' }
          Name
        .controls
          = text_field_tag 'name', params[:name]
      .control-group
        %label.control-label{ for: 'password' }
          Preferred contact
        .controls
          = select_tag 'contact', options_for_select(['email', 'phone'].map{ |o| [o.titleize,o]}, params[:contact]), prompt: 'Select preferred contact method', class: 'input-xlarge'
      .control-group
        %label.control-label{ for: 'phone' }
          Phone number
        .controls
          = text_field_tag 'phone', params[:phone], class: 'phone'
      .control-group
        %label.control-label{ for: 'email' }
          Email
        .controls
          = text_field_tag 'email', params[:email]
      .control-group
        .controls
          = submit_tag 'Submit',class: 'btn btn-success nu-primary'

  #password_reset_tab.tab-pane
    = form_tag password_resets_path, class: 'form-horizontal' do
      .row-fluid
        Don't worry. Fill in your email address, and we'll send you a link to reset&nbsp;it.
      %br
      .control-group
        .control-label
          %label.control-label{ for: :email } Email
        .controls
          = text_field_tag :email, nil, placeholder: 'Enter email which is used to create account', class: 'input-xxlarge'
      .control-group
        .controls
          = submit_tag 'Send Reset Password Email', class: 'btn btn-success nu-primary'
:javascript
  $(document).ready(function(){
    $('a[href="' + window.location.hash + '"]').click()
  });
