.row-fluid
  .span3
    = answer.text
  .span2
    = "code: #{answer.code}"
  - unless answer.question.section.survey.active?
    .span3
      = form_tag(admin_answer_path(answer), method: 'delete', class: 'ajax-form', data: { target: "#q_#{answer.question.id}"}) do
        .btn-group
          = link_to 'Edit', edit_admin_answer_path(answer), class: 'btn btn-mini', data: { async: true, target: "#answer_#{answer.id}"}
          = button_tag 'Delete', class: 'btn btn-mini btn-danger'




