.row-fluid{:id=>"search_condition_group_#{search_condition_group.id}"}
  .offset1
    .row-fluid
      %h4 (
      .span1
        =form_for search_condition_group, :url=>admin_search_condition_group_path(search_condition_group) do |f|
          =f.hidden_field :operator,:value=>search_condition_group.invert_operator
          =f.button "Invert Operator",:class=>"btn btn-mini btn-warning"
      -if search_condition_group.search_id.blank?
        .span1
          =form_for search_condition_group,:method=>"delete", :url=>admin_search_condition_group_path(search_condition_group) do |f|
            =f.button "Delete Group",:class=>"btn btn-mini btn-danger"
    .row-fluid
      .offset1
        -search_condition_group.search_conditions.each_with_index do |sc,i|
          -unless i==0
            %h4= search_condition_group.pretty_operator
          .row-fluid{:id=>"search_condition_#{sc.id}"}
            =render :partial=>"admin/search_conditions/search_condition",locals: {search_condition: sc}
        .row-fluid{:id=>"#{search_condition_group.id}_new_condition"}
          =link_to "Add Condition",new_admin_search_condition_path(:search_condition_group_id=>search_condition_group.id),"data-async"=>true,"data-target"=>"##{search_condition_group.id}_new_condition",:class=>"btn btn-mini"
    .row-fluid
      -search_condition_group.search_condition_groups.each do |scg|
        .offset1
          %h4= search_condition_group.pretty_operator
        =render :partial=>"admin/search_condition_groups/search_condition_group",locals: {search_condition_group: scg}
    .row-fluid{:id=>"#{search_condition_group.id}_new_condition_group"}
      =link_to "Add Group",new_admin_search_condition_group_path(:search_condition_group_id=>search_condition_group.id),"data-async"=>true,"data-target"=>"##{search_condition_group.id}_new_condition_group",:class=>"btn btn-mini"
    %h4 )

