.row-fluid.search-condition{ id: "search_condition_#{search_condition.id}" }
  .span5
    = search_condition.question.search_display
  .span2.text-right
    %small.muted
      %i
        = SearchCondition::OPERATOR_TRANSLATIONS[search_condition.operator]
  .span3
    %b
      = search_condition.display_value
  .span2.text-right
    = form_for search_condition, method: 'delete', url: admin_search_condition_path(search_condition), html: { class: 'search-condition-delete'} do |f|
      .btn-group
        = link_to 'Edit', edit_admin_search_condition_path(search_condition), class: 'btn btn-small', 'data-async'=>true, 'data-target'=>"#search_condition_#{search_condition.id}"
        = f.button 'Delete', class: 'btn btn-small btn-danger'