- question = @search_condition.question
= form_for @search_condition, url: admin_search_condition_path(@search_condition), html: { class: 'form-horizontal', id: 'admin_edit_search_condition'} do |f|
  .row-fluid.search-condition-edit
    .span5
      = question.search_display
    .span2
      = f.select :operator, search_condition_operator_options(@search_condition),{}, class: 'input-block-level'
    - if question.multiple_choice?
      .span3
        = f.select :value, question.answers.collect{|a|[ a.text,a.id]}, {}, class: 'input-block-level'
    - else
      .span3
        - if question.true_date?
          - display_computed_date = @search_condition.value.blank? || @search_condition.is_calculated_date

          .search-condition-answer{ class: "#{'hidden' if display_computed_date }"}
            = f.text_field :value, 'data-provide' => 'datepicker', class: "input-small #{'date' if question.date?} #{'birth-date' if question.birth_date?}", placeholder: 'mm/dd/yyyy'
            %br
            = link_to '#', class: 'date-format-link' do
              %i.icon-refresh
              %span
                Use calculated date format

          .search-condition-answer{ class: "#{'hidden' unless display_computed_date}"}
            = f.text_field :calculated_date_number, placeholder: 'number', class: "input-mini number", 'data-date-value' => @search_condition.search_value
            = f.select :calculated_date_units, SearchCondition::COMPUTED_DATE_UNITS.values.map{|o| [o,o]}, {}, class: 'input-medium'
            %br
            = link_to '#', class: 'date-format-link' do
              %i.icon-refresh
              %span
                Use date format
        - else
          = f.text_field :value, class: 'input-block-level'

    .span2.pull-right.text-right
      .btn-group
        = f.button 'Continue', class: 'btn btn-success btn-small'
        = link_to 'Cancel', admin_search_path(id: @search_condition.get_search), class: 'btn btn-warning btn-small'

:javascript
  $(document).ready(function(){
    $('#admin_edit_search_condition').validate();
  });