= form_for @search_condition, url: admin_search_conditions_path, html: { class: 'ajax-form form-horizontal', 'data-target'=>"##{@search_condition.search_condition_group.id}_new_condition"} do |f|
  .row-fluid
    .span12.control-group
      = f.hidden_field :search_condition_group_id
      = f.label :question_id, 'Question'
      .controls
        = f.text_field :question_id, class: 'searchtokeninput', 'data-url'=>search_admin_questions_path(:format=>:json), 'data-limit'=>1, 'data-hint-text'=>'enter question text...', 'data-theme'=>'facebook'
  .row-fluid
    .span12.btn-group
      = f.button 'Continue', class: 'btn btn-mini btn-success', id: 'add_search_question'
      = link_to 'Cancel', admin_search_path(id: @search_condition.search), class: 'btn btn-mini btn-warning'

:javascript
  $(document).ready(function(){
    $("#add_search_question").attr("disabled", "disabled");
  });

