.row-fluid
  !=@participant.child? ? Consent.child_consent.content : Consent.adult_consent.content
= form_for @participant.consent_signatures.new(:consent=>@participant.child? ? Consent.child_consent :  Consent.adult_consent), :url=>consent_signature_admin_participant_path(@participant), :html=>{ :id => "admin_new_consent_sign" } do |f|
  =f.hidden_field :consent_id
  .row-fluid
    .span3
      = f.label :enetered_by, 'Entered By: '
      = f.text_field :proxy_name, :value=>current_user.name,:class=> 'required',:readonly=>true
    .span3
      = f.label :proxy_name, 'Given By (if other than participant): '
      = f.text_field :proxy_name
    .span4
      = f.label :proxy_relationship, 'Relationship to participant (if given by other than participant): '
      = f.select :proxy_relationship, Consent::RELATIONSHIPS.collect{|rel| [rel.titleize, rel]}, { prompt: 'Select Relationship'}
    .span2
      = f.label :date, 'Consent given on:'
      = f.text_field :date, :class=> "required input-small date","data-provide"=> "datepicker", placeholder: "mm/dd/yyyy"
  .row-fluid
    = submit_tag("Next", class: "btn btn-primary nu-primary")
:javascript
  $(document).ready(function(){
    $('#admin_new_consent_sign').validate();
  });