#participant.row-fluid
  .span12
    / This will be inserted into table header div
    .header.hidden.table-header{ data: { target_table: 'participants_index_table'} }
      %h4
        = display_participant_header(params[:state], @participants.length)
        = link_to 'Add a participant', new_admin_participant_path, class: 'btn btn-primary nu-primary'

.row-fluid
  %table#participants_index_table.table.table-bordered.table-hover
    %thead
      %tr.display
        %th.span1 ID
        %th.span2 First Name
        %th.span3 Last Name
        %th Studies
        %th Join Date
        %th Account Email
        %th Tier 2
    %tbody
      - @participants.each do |participant|
        %tr.display
          - css_class = 'nu' if participant.pending_approval?
          %td{ class: css_class }
            = participant.id
          %td{ class: css_class }
            = link_to participant.first_name, admin_participant_path(participant)
          %td{ class: css_class }
            = link_to participant.last_name, admin_participant_path(participant)
            .pull-right
              = image_tag 'child.png' if participant.child?
              = image_tag 'siblings.png' if participant.has_relationships?
          %td{ class: css_class }
            = render partial: '/admin/study_involvements/list', locals: { participant: participant }
          %td{ class: css_class }
            = participant.created_at.to_date
          %td{ class: css_class }
            = participant.account.email if participant.account
          %td
            - if participant.tier_2_surveys.any?
              .user-circle

