#additonal-data{data: {header: display_participant_header(params[:state], @participants.count), url: new_admin_participant_path}}
.row-fluid
  %table.table.table-bordered.table-hover{:id=>'dashboard_list'}
    %thead
      %tr.display
        %th Last Name
        %th First Name
        %th Studies
        %th Back into pool
        %th Join Date
    %tbody
      -@participants.each do |p|
        %tr.display
          %td{:class=>"#{'nu' if p.pending_approval?}"}=link_to(p.last_name, admin_participant_path(p))
          %td{:class=>"#{'nu' if p.pending_approval?}"}
            =link_to(p.first_name, admin_participant_path(p))
            .pull-right
              =image_tag "child.png" if p.child?
              =image_tag 'siblings.png' if p.has_relationships?

          %td
            %ul.unstyled
              -p.study_involvements.each_with_index do |si,i|
                %li{:class=> "#{'more_display' if i > 2}"}
                  =link_to si.study.display_name, admin_participant_path(p, :tab=>'studies')
                  %span.muted
                    = " (#{si.state})"
              %li.pull-right.btn.btn-link.show_button="See more..." if p.study_involvements.size > 3
          %td
            %ul.unstyled
              -p.study_involvements.each_with_index do |si,i|
                %li{:class=> "#{'more_display' if i > 2} #{'muted' if (!si.end_date.blank? && si.end_date < Date.today)}"}=si.end_date
          %td=p.created_at.to_date

