.well.well-small
  %h4="Add a participant"
%h5="Who are you enrolling?"
.row-fluid
  .span1
    =form_tag(admin_participants_path, :method => 'post') do
      = hidden_field_tag "proxy", true
      = submit_tag('Another Adult', :class=>"btn btn-medium btn-primary")
  .span1
    =form_tag(admin_participants_path, :method => 'post') do
      = hidden_field_tag "proxy", true
      = hidden_field_tag "child", true
      = submit_tag('Child', :class=>"btn btn-medim btn-primary")
