.row-fluid-alert
  -if @search.data_requested?
    .alert.alert-info
      %h5 Data for this search has been requested and is pending Approval
  -elsif @search.data_released?
    .alert.alert-info
      %h5 Data for this search has been released to research staff

.row-fluid
  %h4 Search Parameters:
  .offset1
    %h5="Participants matching #{@search.connector.eql?('or') ? 'any':'all'} of the following criteria"
    -@search.full_parameters.each do |k,v|
      -answers = v.collect{|x| x.text}
      ="#{k.text}: #{answers.inspect}"
      %br
.row-fluid
  %h4 Search Results:
  .offset1
    %h5= "#{@search.result.size} participants returned"
.row-fluid
  -if false
    %table.table.bordered
      %thead
        %tr
          %th Name
          %th Current Status
          %th Last Contact
      %tbody
        -@search.result.each do |participant|
          %tr
            %td=participant.name
            %td=participant.on_study? ? "On study" : "Available"
            %td=participant.contact_logs.last.nil? ? "" : participant.contact_logs.last.date
    -if @search.data_requested?
      =form_for @search,:url=>release_data_search_path(@search) do |f|
        =f.submit "Release Results",:class=>"btn btn-mini btn-success"
  -else
    -if @search.new?
      =form_for @search,:url=>request_data_search_path(@search) do |f|
        =f.submit "Request Results",:class=>"btn btn-mini btn-success"
      
