.row-fluid
  %table#participants_index_table.table.table-bordered.table-hover
    %thead
      %tr.display
        %th.span1 ID
        %th.span3 First Name
        %th.span3 Last Name
        %th Studies
        %th Join Date
    %tbody
      - current_user.active_participants.each do |participant|
        %tr.display
          %td
            = participant.id
          %td
            = link_to(participant.first_name, admin_participant_path(participant))
          %td
            = link_to(participant.last_name, admin_participant_path(participant))
            .pull-right
              = image_tag 'child.png' if participant.child?
              = image_tag 'siblings.png' if participant.has_relationships?
          %td
            = render partial: '/admin/study_involvements/list', locals: { participant: participant }
          %td
            = participant.created_at.to_date
