-if current_user.admin? || current_user.data_manager?
  .row-fluid
    %h5
      ="All Participants(#{Participant.all.count})"
      =link_to "Add a participant", new_admin_participant_path, :class=>"btn btn-primary nu-primary"
  .row-fluid
    .progressbar.input-append
      ="#{Participant.pending_approvals.size}"
    = "Need Varification"
  .row-fluid
    %table.table.table-bordered.table-hover{:id=>'dashboard_list'}
      %thead
        %tr.display
          %th Last Name
          %th First Name
          %th Studies
          %th Back into pool
          %th Joined Date
      %tbody
        -Participant.all_active_participants.each do |p|
          %tr.display
            %td{:class=>"#{'nu' if p.pending_approval?}"}=link_to(p.last_name, admin_participant_path(p))
            %td{:class=>"#{'nu' if p.pending_approval?}"}
              =link_to(p.first_name, admin_participant_path(p))
              .pull-right
                =image_tag "child.png" if p.child?
                =image_tag 'siblings.png' if p.has_relationships?

            %td
              %ul.unstyled
                -p.study_involvements.each_with_index do |si,i|
                  %li{:class=> "#{'more_display' if i > 2}"}
                    =link_to si.study.display_name, admin_participant_path(p, :tab=>'studies')
                    = " (#{si.state})"
                %li.pull-right.btn.btn-link.show_button="See more..." if p.study_involvements.size > 3
            %td
              %ul.unstyled
                -p.study_involvements.each_with_index do |si,i|
                  %li{:class=> "#{'more_display' if i > 2} #{'muted' if si.end_date < Date.today}"}=si.end_date
            %td=p.created_at.to_date
-else
  .row-fluid
    %table.table.table-bordered
      %thead
        %tr
          %th Last Name
          %th First Name
          %th Study
          %th Release Date
          %th End Date
      %tbody
        -current_user.active_study_involvements.each do |si|
          %tr
            %td=link_to si.participant.last_name,admin_participant_path(si.participant)
            %td=link_to si.participant.first_name,admin_participant_path(si.participant)
            %td=si.study.name
            %td=si.start_date
            %td=si.warning_date
:javascript
  $(document).ready(function(){
    $('table tr ul li.more_display').hide();
    $('.show_button').click(function() {
      $end_date_list = $(this).parent().parent().next().children('ul').find('li.more_display');
      $display_name_list = $(this).siblings('ul li.more_display');
      $(this).text(function (_, value) {
        if (value == 'See more...') {
          $end_date_list.show();
          $display_name_list.show();
          return "See less..."
        } else {
          $end_date_list.hide();
          $display_name_list.hide();
          return "See more..."
        }
      });
    });
  });
