-if @account.all_participants.size > 0
  = render :partial => 'account_participants.html.haml'
  - if ((Consent.child_consent or Consent.adult_consent) and (Survey.adult_survey or Survey.child_survey))
    .row-fluid
      =button_tag "Add another participant", "data-toggle"=>"modal","data-target"=>"#add_participant",:class=>"btn btn-primary"
    %br
#add_participant.modal.hide
  .modal-header
    %h5
      ="Who would you like to add to the registry"
      -if @account.all_participants.size > 0
        %i.icon-remove.pull-right{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
  .row-fluid
    .modal-body
      -unless current_user.has_self_participant?
        - if Consent.adult_consent and Survey.adult_survey
          =form_tag(participants_path, :method => 'post') do
            = hidden_field_tag "account_id", @account.id
            = submit_tag('Myself', :class=>"btn btn-primary")
      - if Consent.child_consent and Survey.child_survey
        =form_tag(participants_path, :method => 'post') do
          = hidden_field_tag "account_id", @account.id
          = hidden_field_tag "proxy", true
          = hidden_field_tag "child", true
          = submit_tag('My Child', :class=>"btn btn-primary")
      - if Consent.adult_consent and Survey.adult_survey
        =form_tag(participants_path, :method => 'post') do
          = hidden_field_tag "account_id", @account.id
          = hidden_field_tag "proxy", true
          = submit_tag('Another Adult', :class=>"btn btn-primary")
-if @account.all_participants.size == 0
  :javascript
    $(document).ready(function(){
      $('#add_participant').modal({
      'backdrop': 'static',
      'keyboard': false,
      'show': true
      });
    });