#additonal-data{ data: {count: @active_participants.size, participant: @participant ? 'true' : 'false', text: 'Add a participant'}}

- if @active_participants.size > 0
  .row-fluid
    %h3 My Registry
    %table.table.table-condensed.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Surveys
          %th
      %tbody
        - @active_participants.each do |participant|
          %tr
            %td
              = link_to participant.name, participant_path(participant)
            %td
              %ul.unstyled
                - participant.response_sets.each do |response_set|
                  %li
                    - if response_set.complete?
                      = response_set.display_text
                    - else
                      .nu-incomplete-link
                        = link_to "Click here to finish #{response_set.display_text}", edit_response_set_path(response_set)
            %td
              - if participant.consented?
                %i.icon-folder-open
                = link_to 'View Consent', consent_participant_path(participant)

  .row-fluid
    - if recruiting_adults? || recruiting_children?
      = button_tag 'add_participant', data: { toggle: 'modal', target: '#add_participant' }, class: 'btn btn-primary nu-primary' do
        - @account.active_participants.size > 0 ? 'Add Another Participant' : 'Add Participant'
    .pull-right
      = link_to 'Take me back to the Communication Research Registry website.', :back_to_website
  %br

#add_participant.modal.hide
  .modal-header
    %h5
      Who would you like to add to the Registry?
      - if @account.active_participants.size > 0
        = button_tag 'x', data: { dismiss: 'modal' }, aria: { hidden: 'true' }, class: 'close'
  .row-fluid
    .modal-body
      = render partial: 'enroll_participants'
      = link_to 'Take me back to the Communication Research Registry website.', :back_to_website

#add_another_participant.modal.hide
  - if @participant && @participant.has_followup_survey?
    .row-fluid
      .modal-body
        %h5
          = "Thank you for completing a follow-up survey on behalf of #{@participant.name}."
          = button_tag 'x', data: { dismiss: 'modal' }, aria: { hidden: 'true' }, class: 'close'
        %br
        .row-fluid
          = link_to 'OK', dashboard_path, class: "btn btn-primary nu-primary"
  - else
    .modal-header
      %h5
        - if @participant
          = @participant.proxy? ? "Thank you for adding #{@participant.name} to the registry!" : 'Thank you for adding yourself to the registry!'
          = button_tag 'x', data: { dismiss: 'modal' }, aria: { hidden: 'true' }, class: 'close'
      %h5 Would you like to add another participant?
    .row-fluid
      .modal-body
        = render partial: 'enroll_participants'
        .row-fluid
          = link_to "No thanks, I'm done.", dashboard_path
        %br
        .row-fluid
          = link_to 'No thanks, take me back to the Communication Research Registry website.', :back_to_website

